body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #FF9923,#ffffff,#138808);
    margin: 0;
    padding: 20px;
    color: #2c3e50;
}

#main {
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.332);
}

header { text-align: center; }

#image {
    max-width: 100%;
    height: auto;
    border: 16px solid royalblue;
    border-radius: 8px;
    margin: 20px 0;
}

#img-caption { font-style: italic; color: #212323be; }

h3 {
    color: #c0392b; 
    border-bottom: 2px solid #c0392b;
    padding-bottom: 5px;
}

/* Container for the boxes */
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Individual Info Box */
.info-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow:10px  10px 40px  #0000008a; 
    transition: all 0.3s ease; 
    cursor: default;
}

/* HOVER TAG EFFECT */
.info-box:hover {
    background-color:royalblue; 
    color: white;             
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-box h4 {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
}

.info-box p {
    margin: 0;
    font-size: 0.9rem;
}

li { margin-bottom: 12px; line-height: 1.8; }

.media-container {
    color:#c0392b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
}

#tribute-link { color: #2980b9; text-decoration: none; font-weight: bold; }
.tribute-link:hover{
    text-decoration: underline;
    color:#c0392b
}